<footer id="footer" class="footer light-background pb-4">

  <div class="container footer-top">
    <div class="row gy-4">
      <div class="col-lg-4 col-md-6 footer-about">
        <a href="index.html" class="logo d-flex align-items-center">
          <span class="sitename">Lusan Centro Psicologico</span>
        </a>
        <div class="footer-contact pt-3">
          <p>1267 Miguel F Martinez, Zona Centro</p>
          <p>Tijuana, B.C.</p>
          <p class="mt-3"><strong>Phone:</strong> <span>+52 664 480 0148</span></p>
          <p><strong>Email:</strong> <span>lusantalento@gmail.com</span></p>
        </div>
        <div class="social-links d-flex mt-4">
          <a href="https://www.facebook.com/lusanpsicologia21"><i class="bi bi-facebook"></i></a>
          <a href="https://www.instagram.com/lusanpsicologia/"><i class="bi bi-instagram"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-3 footer-links">
        <h4>Links</h4>
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Sobre mí</a></li>
          <li><a href="#">Equipo</a></li>
          <li><a href="#">Contacto</a></li>
          <li><a href="#">Política de Privacidad</a></li>
        </ul>
      </div>

      <div class="col-lg-4 col-md-3 footer-links">
        <h4>Terapias</h4>
        <ul>
          <li><a href="#">Terapia en línea</a></li>
          <li><a href="#">Terapia prescencial</a></li>
        </ul>
      </div>

    </div>
  </div>

</footer>