{% assign lang_prefix = '' %}
{% if page.lang == 'en' %}
  {% assign lang_prefix = '/en' %}
{% endif %}

<nav id="navmenu" class="navmenu">
  <ul>

    <li>
      <a href="{{ lang_prefix }}/" class="{% if page.url == '/' %}active{% endif %}">
        {{ site.data.translations.t[page.lang].navigation.home }}
      </a>
    </li>

    <li>
      <a class="{% if page.url == '/about.html' %}active{% endif %}" href="{{ lang_prefix }}/about.html">
        {{ site.data.translations.t[page.lang].navigation.about }}
      </a>
    </li>

    <li>
      <a href="{{ lang_prefix }}/index.html#specialization">
        {{ site.data.translations.t[page.lang].navigation.specializations }}
      </a>
    </li>

    <li class="dropdown">
      <a href="#">
        <span>{{ site.data.translations.t[page.lang].navigation.services }}</span>
        <i class="bi bi-chevron-down toggle-dropdown"></i>
      </a>

      <ul>
        <li>
          <a href="{{ lang_prefix }}/intensive_workshops.html">
            {{ site.data.translations.t[page.lang].services.intensive_workshops.title }}
          </a>
        </li>

        <li>
          <a href="{{ lang_prefix }}/students_program.html">
            {{ site.data.translations.t[page.lang].services.students_program.title }}
          </a>
        </li>

        <li>
          <a href="{{ lang_prefix }}/addiction_program.html">
            {{ site.data.translations.t[page.lang].services.addiction_program.title }}
          </a>
        </li>

        <li>
          <a href="{{ lang_prefix }}/high-performance.html">
            {{ site.data.translations.t[page.lang].services.high_performance.title }}
          </a>
        </li>

        <li>
          <a href="{{ lang_prefix }}/emotional_intelligence_for_business.html">
            {{ site.data.translations.t[page.lang].services.emotional_intelligence.title }}
          </a>
        </li>

        <li>
          <a href="{{ lang_prefix }}/individual_psicotherapy.html">
            {{ site.data.translations.t[page.lang].services.individual_therapy.title }}
          </a>
        </li>

        <li>
          <a href="{{ lang_prefix }}/couples_therapy.html">
            {{ site.data.translations.t[page.lang].services.couples_therapy.title }}
          </a>
        </li>

        <li>
          <a href="{{ lang_prefix }}/young_athletes.html">
            {{ site.data.translations.t[page.lang].services.young_athletes.title }}
          </a>
        </li>
      </ul>
    </li>

    <li>
      <a class="{% if page.url == '/contact.html' %}active{% endif %}" href="{{ lang_prefix }}/contact.html">
        {{ site.data.translations.t[page.lang].navigation.contact }}
      </a>
    </li>

    <li class="dropdown">
      <a href="#">
        <i class="bi bi-globe me-1"></i>
        <span class="fw-bold">
          {{ site.data.translations.t[page.lang].navigation.lang }}
        </span>
        <i class="bi bi-chevron-down toggle-dropdown"></i>
      </a>

      <ul>
        <li><a href="/">Español</a></li>
        <li><a href="/en/">English</a></li>
      </ul>
    </li>

  </ul>

  <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
</nav>

<a class="cta-btn d-none d-sm-block" href="/appoinment.html">
  {{ site.data.translations.t[page.lang].navigation.appointment }}
</a>