<!-- About Section -->
<section id="about" class="about section light-background">

  <section class="about section">

    <div class="container">

      <div class="row align-items-center gy-5">

        <!-- Información -->
        <div class="col-lg-7 content" data-aos="fade-up" data-aos-delay="100">

          <h3>
            {{ site.data.translations.t[page.lang].about.title }}
          </h3>

          <h4 class="mt-2 mb-3">
            {{ site.data.translations.t[page.lang].about.name }}
          </h4>

          <p class="lead fst-italic mb-4">
            "{{ site.data.translations.t[page.lang].about.quote }}"
          </p>

          <p>
            {{ site.data.translations.t[page.lang].about.paragraph_1 }}
          </p>

          <p>
            {{ site.data.translations.t[page.lang].about.paragraph_2 }}
          </p>

          <p>
            {{ site.data.translations.t[page.lang].about.paragraph_3 }}
          </p>

          <p>
            {{ site.data.translations.t[page.lang].about.paragraph_4 }}
          </p>

        </div>

        <!-- Fotografía -->
        <div class="col-lg-5" data-aos="fade-up" data-aos-delay="200">
          <div class="about-image">
            <img src="/assets/img/alejandra.jpg" alt="{{ site.data.translations.t[page.lang].about.name }}"
              class="img-fluid rounded-4 shadow">
          </div>
        </div>

        <div class="content mt-3" data-aos="fade-up" data-aos-delay="100">
          <p>
            Mi enfoque es sistémico y profundamente humano: veo las conexiones invisibles que mantienen los problemas,
            pero también las fortalezas que pueden transformar una familia.
          </p>

          <p>Mi compromiso es simple pero profundo: crear espacios seguros donde las personas puedan sanar, reconectar y
            construir una vida emocionalmente saludable, una conversación a la vez.</p>

          <p>Diplomados en tanatología, cuidados paliativos y prevención de abuso infantil me permiten acompañar también
            en los momentos más delicados de la vida.</p>

          <p>"En cada familia hay una historia de amor que merece ser rescatada".
          </p>

        </div>


      </div>

    </div>

  </section>

</section>
<!-- /About Section -->