<!-- Gallery Section -->
<section id="gallery" class="gallery section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>{{ site.data.translations.t[page.lang].gallery.title }}</h2>
    <p>{{ site.data.translations.t[page.lang].gallery.description }}</p>
  </div>
  <!-- End Section Title -->
  <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

    <div class="row g-0">

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="/assets/img/gallery/LUSAN 0.jpg" class="glightbox" data-gallery="images-gallery">
            <img src="/assets/img/gallery/LUSAN 0.jpg" alt="" class="img-fluid">
          </a>
        </div>
      </div><!-- End Gallery Item -->

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="/assets/img/gallery/LUSAN 1.jpg" class="glightbox" data-gallery="images-gallery">
            <img src="/assets/img/gallery/LUSAN 1.jpg" alt="" class="img-fluid">
          </a>
        </div>
      </div><!-- End Gallery Item -->

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="/assets/img/gallery/LUSAN 2.jpg" class="glightbox" data-gallery="images-gallery">
            <img src="/assets/img/gallery/LUSAN 2.jpg" alt="" class="img-fluid">
          </a>
        </div>
      </div><!-- End Gallery Item -->

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="/assets/img/gallery/LUSAN 3.jpg" class="glightbox" data-gallery="images-gallery">
            <img src="/assets/img/gallery/LUSAN 3.jpg" alt="" class="img-fluid">
          </a>
        </div>
      </div><!-- End Gallery Item -->

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="/assets/img/gallery/LUSAN 4.webp" class="glightbox" data-gallery="images-gallery">
            <img src="/assets/img/gallery/LUSAN 4.webp" alt="" class="img-fluid">
          </a>
        </div>
      </div><!-- End Gallery Item -->

    </div>

  </div>



</section>
<!-- /Gallery Section -->