<!-- About Section -->
<section id="about" class="about section">

  <div class="container">

    <div class="row align-items-center gy-5">

      <!-- Información -->
      <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
        <div class="container position-relative d-flex flex-column">

          <div>
            <div class="welcome position-relative" data-aos="fade-down" data-aos-delay="100">
              <h2 style="
                margin: 0;
                font-size: 52px;
                font-weight: 700;
                color: var(--heading-color);
                font-family: var(--heading-font);
              ">
                {{ site.data.translations.t[page.lang].hero.welcome }}
              </h2>

              <p style="font-size: 23px;">
                {{ site.data.translations.t[page.lang].hero.subtitle }}
              </p>
            </div>

            <p class="lead fst-italic mt-4">
              "{{ site.data.translations.t[page.lang].hero.quote }}"
            </p>
          </div>

          <div class="header branding d-flex align-items-center mt-auto pt-4"
            style="box-shadow: none; z-index: 1;">
            <a class="cta-btn d-none d-sm-block ms-0"
              style="font-size: 21px;"
              href="{{ lang_prefix }}/index.html#schedule">
              {{ site.data.translations.t[page.lang].hero.cta }}
            </a>
          </div>

        </div>
      </div>

      <!-- Fotografía -->
      <div class="col-lg-5" data-aos="fade-up" data-aos-delay="200">
        <div class="about-image">
          <img
            src="/assets/img/gil.jpg"
            alt="Alejandro Sainz Huerta"
            class="img-fluid shadow"
            style="border-radius: 30px;">
        </div>
      </div>

    </div>

  </div>

</section>