<!-- Hero Section -->
<section id="hero" class="hero section light-background">

  <img src="assets/img/hero.jpg" alt="" data-aos="fade-in">

  <div class="container position-relative">

    <div class="welcome position-relative" data-aos="fade-down" data-aos-delay="100">
      <h2>Bienvenido a Lusan</h2>
      <p>Centro Psicológico en Tijuana</p>
    </div><!-- End Welcome -->

    <div class="content row gy-4">
      <div class="col-lg-4 d-flex align-items-stretch">
        <div class="why-box" data-aos="zoom-out" data-aos-delay="200">
          <h3>¿Por qué elegir Lusan?</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Duis aute irure dolor in reprehenderit
            Asperiores dolores sed et. Tenetur quia eos. Autem tempore quibusdam vel necessitatibus optio ad corporis.
          </p>
          <div class="text-center">
            <a href="/appoinment.html" class="more-btn"><span>Agenda una cita</span> <i
                class="bi bi-chevron-right"></i></a>
          </div>
        </div>
      </div><!-- End Why Box -->

    </div><!-- End  Content-->

  </div>

</section>
<!-- /Hero Section -->