<!-- Services Section -->
<section id="services" class="services section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Servicios</h2>
    <p>Encuentra el apoyo que necesitas para mejorar tu bienestar, rendimiento y calidad de vida.</p>
  </div><!-- End Section Title -->

  <div class="container">

    <div class="row gy-4">

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item  position-relative">
          <div class="icon">
            <i class="bi bi-alarm"></i>
          </div>
          <a href="/intensive_workshops.html" class="stretched-link">
            <h3>Talleres Intensivos</h3>
          </a>
          <p>Diseñamos talleres personalizados para empresas y equipos deportivos, enfocados en sus necesidades
            específicas.</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="bi bi-book"></i>
          </div>
          <a href="/students_program.html" class="stretched-link">
            <h3>Programa para Estudiantes</h3>
          </a>
          <p>Ut autem aut autem non a. Sint sint sit facilis nam iusto sint. Libero corrupti neque eum hic non ut
            nesciunt dolorem.</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="fas fa-hospital-user"></i>
          </div>
          <a href="/addiction_program.html" class="stretched-link">
            <h3>Programa Libre de Adicciones</h3>
          </a>
          <p>Brindamos un tratamiento especializado para personas que buscan superar una adicción y recuperar su
            estabilidad.</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="bi bi-person-arms-up"></i>
          </div>
          <a href="/high-performance.html" class="stretched-link">
            <h3>Psicología del Alto Rendimiento</h3>
          </a>
          <p>Dirigido a pacientes con experiencia en terapia que desean potenciar habilidades mentales y desempeño
            personal.</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="bi bi-building"></i>
          </div>
          <a href="/emotional_intelligence_for_business.html" class="stretched-link">
            <h3>Inteligencia Emocional en tu Empresa</h3>
          </a>
          <p>Capacitamos a empresas en habilidades emocionales, alineadas a la NOM-035 y bienestar laboral.</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="bi bi-person-fill"></i>
          </div>
          <a href="/individual_psicotherapy.html" class="stretched-link">
            <h3>Psicoterapia Individual</h3>
          </a>
          <p>Proceso terapéutico personalizado con apoyo en evaluación psicológica y desarrollo emocional.</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="700">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="bi bi-people-fill"></i>
          </div>
          <a href="/couples_therapy.html" class="stretched-link">
            <h3>Psicoterapia de Pareja</h3>
          </a>
          <p>Espacio profesional para trabajar conflictos, mejorar la comunicación y fortalecer la relación.</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="800">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="bi bi-person-walking"></i>
          </div>
          <a href="/young_athletes.html" class="stretched-link">
            <h3>Psicología para Deportistas Jóvenes</h3>
          </a>
          <p>Entrenamiento mental para jóvenes atletas que buscan mejorar su enfoque, disciplina y rendimiento
            competitivo.</p>
        </div>
      </div><!-- End Service Item -->

    </div>

  </div>

</section>
<!-- /Services Section -->