<!-- Specialization areas Section -->
<section id="specialization" class="departments section light-background">

  <div class="container section-title" data-aos="fade-up">
    <h2>{{ site.data.translations.t[page.lang].specializations.title }}</h2>
  </div>

  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="row">

      <div class="col-lg-6">
        <ul class="flex-column list-inline" style="list-style: inside; font-size: 1.15rem">

          <li>
            {{ site.data.translations.t[page.lang].specializations.anxiety }}
          </li>

          <li>
            {{ site.data.translations.t[page.lang].specializations.athletes }}
          </li>

          <li>
            {{ site.data.translations.t[page.lang].specializations.addictions }}
          </li>

          <li>
            {{ site.data.translations.t[page.lang].specializations.couples }}
          </li>

          <li>
            {{ site.data.translations.t[page.lang].specializations.adhd }}
          </li>

          <li>
            {{ site.data.translations.t[page.lang].specializations.gambling }}
          </li>

          <li>
            {{ site.data.translations.t[page.lang].specializations.personal_growth }}
          </li>

          <li>
            {{ site.data.translations.t[page.lang].specializations.teens_adults }}
          </li>

        </ul>
      </div>

      <div class="col-lg-6 mt-4 mt-lg-0">
        <div class="tab-content">
          <p style="font-size: 1.15rem">
            {{ site.data.translations.t[page.lang].specializations.description }}
          </p>
        </div>
      </div>

    </div>

  </div>

</section>
<!-- /Specialization areas Section -->