<!-- Specialization areas Section -->
<section id="specialization" class="departments section light-background">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2> Áreas de especialización</h2>
  </div><!-- End Section Title -->

  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="row">
      <div class="col-lg-6">
        <ul class="flex-column list-inline" style="list-style: inside; font-size: 1.15rem">
          <li class="">
            Especialista en ansiedad
          </li>
          <li class="">
            Trabajo con deportistas de alto rendimiento
          </li>
          <li class="">
            Adicciones
          </li>
          <li class="nav-item">
            Terapia de pareja
          </li>
          <li class="nav-item">
            TDAH
          </li>
          <li class="nav-item">
            Ludopatía (adicción al juego)
          </li>
          <li class="nav-item">
            Desarrollo personal y emocional
          </li>
          <li class="nav-item">
            Trabajo terapéutico con adolescentes y adultos
          </li>
        </ul>
      </div>
      <div class="col-lg-6 mt-4 mt-lg-0">
        <div class="tab-content">
          <p style="font-size: 1.15rem">
            Mi enfoque se centra en objetivos claros, seguimiento profesional y resultados medibles, promoviendo la
            reintegración funcional y el bienestar integral de cada persona.
            Si deseas conocer más sobre mi metodología y servicios, será un gusto acompañarte en tu proceso.
          </p>


        </div>
      </div>
    </div>

  </div>

</section>
<!-- /Specialization areas Section -->