<!-- Stats Section -->
<section id="stats" class="stats section light-background">

  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="row gy-4">

      <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
        <i class="fa-solid fa-user-doctor"></i>
        <div class="stats-item">
          <p class="d-flex align-items-center  justify-content-center">
            <span class="fs-5">+</span>
            <span data-purecounter-start="0" data-purecounter-end="1000" data-purecounter-duration="1"
              class="purecounter">
            </span>
          </p>
          <p>Pacientes atendidos</p>
        </div>
      </div><!-- End Stats Item -->

      <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
        <i class="fa-regular fa-hospital"></i>
        <div class="stats-item">
          <p class="d-flex align-items-center  justify-content-center">
            <span class="fs-5">+</span>
            <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1"
              class="purecounter">
            </span>
          </p>
          <p>Años de experiencia</p>
        </div>
      </div><!-- End Stats Item -->

      <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
        <i class="fas fa-flask"></i>
        <div class="stats-item">
          <p class="d-flex align-items-center  justify-content-center">
            <span class="fs-5">+</span>
            <span data-purecounter-start="0" data-purecounter-end="500" data-purecounter-duration="1"
              class="purecounter">
            </span>
          </p>
          <p>Casos de éxito</p>
        </div>
      </div><!-- End Stats Item -->

      <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
        <i class="fas fa-award"></i>
        <div class="stats-item">
          <p class="d-flex align-items-center  justify-content-center">
            <span class="fs-5">+</span>
            <span data-purecounter-start="0" data-purecounter-end="100" data-purecounter-duration="1"
              class="purecounter">
            </span>
          </p>
          <p>Reseñas de 5 estrallas</p>
        </div>
      </div><!-- End Stats Item -->

    </div>

  </div>

</section>
<!-- /Stats Section -->