<!-- Testimonials Section -->
<section id="testimonials" class="testimonials section">

  <div class="container">

    <div class="row align-items-center">

      <!-- Info -->
      <div class="col-lg-5 info" data-aos="fade-up" data-aos-delay="100">

        <h3>
          {{ site.data.translations.t[page.lang].testimonials.title }}
        </h3>

        <p>
          {{ site.data.translations.t[page.lang].testimonials.subtitle }}
        </p>

        <div class="text-start mt-4">
          <a
            href="https://www.doctoralia.com.mx/gildardo-lucero/psicologo/tijuana#profile-reviews"
            target="_blank"
            rel="noopener noreferrer"
            class="text-decoration-none">

            <div class="fw-semibold fs-5">
              {{ site.data.translations.t[page.lang].testimonials.doctoralia.verified_reviews }}
            </div>

            <small class="text-muted">
              {{ site.data.translations.t[page.lang].testimonials.doctoralia.read_all }}
            </small>

          </a>
        </div>

      </div>

      <!-- Slider -->
      <div class="col-lg-7" data-aos="fade-up" data-aos-delay="200">

        <div class="swiper init-swiper">

          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              }
            }
          </script>

          <div class="swiper-wrapper">

            <!-- Lydia -->
            <div class="swiper-slide">
              <div class="testimonial-item">

                <h3>Lydia Casillas</h3>

                <h4>
                  {{ site.data.translations.t[page.lang].testimonials.reviews.lydia.date }}
                </h4>

                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>
                    {{ site.data.translations.t[page.lang].testimonials.reviews.lydia.content }}
                  </span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>

              </div>
            </div>

            <!-- Gustavo -->
            <div class="swiper-slide">
              <div class="testimonial-item">

                <h3>Gustavo Alexis</h3>

                <h4>
                  {{ site.data.translations.t[page.lang].testimonials.reviews.gustavo.date }}
                </h4>

                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>
                    {{ site.data.translations.t[page.lang].testimonials.reviews.gustavo.content }}
                  </span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>

              </div>
            </div>

            <!-- Rosalinda -->
            <div class="swiper-slide">
              <div class="testimonial-item">

                <h3>Rosalinda Cuevas</h3>

                <h4>
                  {{ site.data.translations.t[page.lang].testimonials.reviews.rosalinda.date }}
                </h4>

                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>
                    {{ site.data.translations.t[page.lang].testimonials.reviews.rosalinda.content }}
                  </span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>

              </div>
            </div>

            <!-- Jonny -->
            <div class="swiper-slide">
              <div class="testimonial-item">

                <h3>Jonny</h3>

                <h4>
                  {{ site.data.translations.t[page.lang].testimonials.reviews.jonny.date }}
                </h4>

                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>
                    {{ site.data.translations.t[page.lang].testimonials.reviews.jonny.content }}
                  </span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>

              </div>
            </div>

            <!-- Teresa -->
            <div class="swiper-slide">
              <div class="testimonial-item">

                <h3>Teresa</h3>

                <h4>
                  {{ site.data.translations.t[page.lang].testimonials.reviews.teresa.date }}
                </h4>

                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>
                    {{ site.data.translations.t[page.lang].testimonials.reviews.teresa.content }}
                  </span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>

              </div>
            </div>

          </div>

          <div class="swiper-pagination"></div>

        </div>

      </div>

    </div>

  </div>

</section>